extends layout

block content
  .row
    .col-lg-9
      h2 Paste
      p.text-muted
        | Created: 05 Jul 2020, 10:13:49 UTC.
      p
        a.btn.btn-sm.btn-primary.js-copy(href="#" data-clipboard-target="#paste") Copy to Clipboard
        a#raw.btn.btn-sm.btn-primary(href="/OlQUpT.txt" target="_blank") Raw
        a#download.btn.btn-sm.btn-primary(href="/dl/OlQUpT" download="OlQUpT.txt") Download
        a#clone.btn.btn-sm.btn-primary.disabled(href="#") Clone
        a#print.btn.btn-sm.btn-primary.disabled(href="#") Print
      pre#paste(style="border: 1px solid rgba(0,0,0,.125); border-radius: .25rem; background-color: #eee; padding: 1.23rem;")= text

    .col-lg-3
      h4 Embed this Paste
      p
        | There are two ways to embed this paste.
        |
        | You can use a traditional
        |
        code &lt;iframe&gt;
        | , or in any text field that supports JavaScript using the
        |
        code &lt;script&gt;
        |
        | tag
        |
        span.text-muted (coming soon)
        | .
      h5
        | Embed
        |
        small
          a.js-copy(href="#" data-clipboard-target="#iframe") Copy to Clipboard
      .form-group
        textarea#iframe.form-control(readonly="" rows="5")
          | <iframe src="https://paste.gd/iframe/OlQUpT" style="border:none;width:100%;"></iframe>
